<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhAttachmentsApp.attachment.home.title">Attachments</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attachment" [routerLink]="['/attachment/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhAttachmentsApp.attachment.home.createLabel">
            Create a new Attachment
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attachments?.length === 0">
        <span jhiTranslate="jhAttachmentsApp.attachment.home.notFound">No attachments found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attachments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="filename"><span jhiTranslate="jhAttachmentsApp.attachment.filename">Filename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="originalFilename"><span jhiTranslate="jhAttachmentsApp.attachment.originalFilename">Original Filename</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="extension"><span jhiTranslate="jhAttachmentsApp.attachment.extension">Extension</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sizeInBytes"><span jhiTranslate="jhAttachmentsApp.attachment.sizeInBytes">Size In Bytes</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sha256"><span jhiTranslate="jhAttachmentsApp.attachment.sha256">Sha 256</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contentType"><span jhiTranslate="jhAttachmentsApp.attachment.contentType">Content Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="uploadDate"><span jhiTranslate="jhAttachmentsApp.attachment.uploadDate">Upload Date</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attachment of attachments ;trackBy: trackId">
                    <td><a [routerLink]="['/attachment', attachment.id, 'view']">{{ attachment.id }}</a></td>
                    <td>{{ attachment.filename }}</td>
                    <td>{{ attachment.originalFilename }}</td>
                    <td>{{ attachment.extension }}</td>
                    <td>{{ attachment.sizeInBytes }}</td>
                    <td>{{ attachment.sha256 }}</td>
                    <td>{{ attachment.contentType }}</td>
                    <td>{{ attachment.uploadDate | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attachment', attachment.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attachment', attachment.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attachment)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="attachments?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
